<div class="contact-card">
    <h2 class="profileName">Nom de l'utilisateur</h2>
    <div class="photoButton">
        <div class="containerPhoto">
            <img class="photoProfileVide photo" src="../../assets/images/profil-vide.png" alt="logo profile vide"/>
        </div>
        <!-- placeholder pour si image de profile -->
        <!-- <div class="containerPhoto">
            <img class="photoProfileVide" src="../../assets/images/profil-vide.png" alt="logo profile vide"/>
        </div> -->
        <button>Inviter</button>
        
    </div>
</div>
